body{
    background-color: rgb(4, 57, 65);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color:rgb(184, 220, 253);
    text-decoration: none;
}

a:hover{
    color: rgb(117, 139, 235);
    text-decoration: underline;
}